{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->
<section>
    <div class="container"></div>
</section>

<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="mt-5">About Us</h1>
            <h3><strong>Team:</strong> Monkeys with Typewriters</h3><br>
              <p><strong>Scrum Master:</strong> Daniel Hanson</p>
              <li><i><b>email:</b> dwh7fx@virginia.edu</i></li><br>
              <p><strong>Requirements Managers:</strong> Nicholas Macdisi and Eddie Ryan</p>
              <li><i><b>email:</b> nm9jp@virginia.edu and ejr8wh@virginia.edu</i></li><br>
              <p><strong>Testing Managers:</strong> Jazlene Rae Guevarra and Kiri Nicholson</p>
              <li><i><b>email:</b> jfg3xs@virginia.edu and kan7au@virginia.edu</i></li><br>
              <p><strong>Software Architect:</strong> Christine Cheng</p>
              <li><i><b>email:</b> xc3fe@virginia.edu</i></li><br>
          </div>

            <div class="col-lg-6">
                <center><img src="/static/uni_assignment_calendar/images/mr-burns-monkeys-typewriters1-640x381.jpg"></center>
            </div>
        </div>
    </div>
</section>

{% endblock %}