{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="mt-5">About Us</h1>
            <h3><strong>Team:</strong> Monkeys with Typewriters</h3><br>
              <p><strong>Scrum Master:</strong> Daniel Hanson</p>
              <li>email: dwh7fx@virginia.edu</li><br>
              <p><strong>Requirements Managers:</strong> Nicholas Macdisi and Eddie Ryan</p>
              <li>email: nm9jp@virginia.edu and ejr8wh@virginia.edu</li><br>
              <p><strong>Testing Managers:</strong> Jazlene Rae Guevarra and Kiri Nicholson</p>
              <li>email: jfg3xs@virginia.edu and kan7au@virginia.edu</li><br>
              <p><strong>Software Architect:</strong> Christine Cheng</p>
              <li>email: xc3fe@virginia.edu</li><br>
          </div>
        </div>
    </div>
</section>

{% endblock %}