<!--attempting to get information about each event to appear on the details page-->
{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="main">

	<h1><center>{{ courses.class_abbrev }} {{ courses.class_num }} : {{ courses.class_title }}</center></h1>
	<h2><center>Course Information</center></h2>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<p><center>{{ status }}</center></p>
				<table>
  					<tr>
						<td><h4><b>Course ID</b></h4></td>
    					<td>{{ courses.class_id }}</td>
					</tr>
  					<tr>
						<td><h4><b>Instructor</b></h4></td>
    					<td>{{ courses.instructor }}</td>
  					</tr>
  					<tr>
						<td><h4><b>Description</b></h4></td>
    					<td>{{ courses.description }}</td>
  					</tr>
				</table>
			</div>

			<br>

			<div class="row">
				<div class="col-lg-3">
					{% if enrolled %}
						<form method="POST">
							{% csrf_token %}

							<!--&lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->
							<!--&lt;!&ndash;<center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" name="cancel">Remove Course</button></center>&ndash;&gt;-->
							<!--<center><input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Remove Course" name="cancel"></center>-->
							<!--&lt;!&ndash; Modal &ndash;&gt;-->
                            <!--<div class="modal fade" id="myModal" role="dialog">-->
                                <!--<div class="modal-dialog">-->
                                    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                            <!--<h4 class="modal-title">Confirmation</h4>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
											<!--<p><b><i>You are <b>unenrolling</b> from {{ courses.class_abbrev }} {{ courses.class_num }} : {{ courses.class_title }}.-->
											<!--Do you wish to continue?</i></b></p>-->
                                        <!--</div>-->
                                        <!--<div class="modal-footer">-->
                                            <!--&lt;!&ndash;<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>&ndash;&gt;-->
                                            <!--<input type="submit" class="btn btn-default" value="Continue">-->
                                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
							<center>
								<input type="submit" class="btn btn-primary" value="Remove Course" name="cancel">
							</center>
						</form>
					{% else %}
						<form method="POST">
							{% csrf_token %}
							<!--&lt;!&ndash; Trigger the modal with a button &ndash;&gt;-->
                            <!--&lt;!&ndash;<center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" name="add">Add Course</button></center>&ndash;&gt;-->
							<!--<center><input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Add Course" name="add"></center>-->
                            <!--&lt;!&ndash; Modal &ndash;&gt;-->
                            <!--<div class="modal fade" id="myModal2" role="dialog">-->
                                <!--<div class="modal-dialog">-->
                                    <!--&lt;!&ndash; Modal content&ndash;&gt;-->
                                    <!--<div class="modal-content">-->
                                        <!--<div class="modal-header">-->
                                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                            <!--<h4 class="modal-title">Confirmation</h4>-->
                                        <!--</div>-->
                                        <!--<div class="modal-body">-->
											<!--<p><i>You are <b>enrolling</b> from {{ courses.class_abbrev }} {{ courses.class_num }} : {{ courses.class_title }}.-->
											<!--Do you wish to continue?</i></p>-->
                                        <!--</div>-->
                                        <!--<div class="modal-footer">-->
                                            <!--&lt;!&ndash;<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>&ndash;&gt;-->
                                            <!--<input type="submit" class="btn btn-default" value="Continue">-->
                                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
							<center>
								<input type="submit" class="btn btn-primary" value="Add Course" name="add">
							</center>
						</form>
					{% endif %}
				</div>
				<div class="col-lg-3">
					<form action="/schedule/">
						<input type="submit" class="btn btn-primary" value="View my Schedule" />
					</form>
				</div>s

			</div>
		</div>
	</section>


</div>

{% endblock %}