<!--attempting to get information about each event to appear on the details page-->
{% extends 'base.html' %}

{% block content %}

<div class="main">

	<h1><center>{{ courses.class_abbrev }} {{ courses.class_num }} : {{ courses.class_title }}</center></h1>.
	
	<div class="container">
		<ul>
			<p><strong>Course ID:</strong> {{courses.class_id }}</p>
		    <p><strong>Instructor:</strong> {{ courses.instructor }}</p>
		    <p><strong>Description:</strong> {{ courses.description }}</p>
		</ul>
		
		<form method="POST">
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Add Course" name="add">
		</form>

		<br>

		<form method="POST">
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Remove Course" name="cancel">
		</form>

		<p>{{ status }}</p>
	</div>

</div>

{% endblock %}