{% extends 'base.html' %}

{% block content %}

    <div class="main">
        <h1><center>Universal Assignment Calendar</center></h1>
        <h2><center>New Post</center></h2>
        <form method="POST">

            <section>
                <div class="container">
                    <div class="row">
				        <table>
  					        <tr>
						        <td><h4><b><label for="id_course">Course:</label></b></h4></td>
    					        <td><select name="course" selected>---------</option>
                                    {% for course in courses %}
                                        <option value="{{ course.class_id }}">{{ course.class_abbrev }}
                                            {{ course.class_num }} - {{ course.class_title }}</option>
                                    {% endfor %}
                                </select></td>
					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_events_name">Events name:</label></b></h4></td>
    					        <td><input id="id_events_name" type="text" name="events_name" required></td>
  					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_due_date">Due date:</label></b></h4></td>
    					        <td><input id="id_due_date" placeholder="mm/dd/yyyy" type="text" name="due_date"
                                           required></td>
  					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_due_time">Due time:</label></b></h4></td>
    					        <td><input type="time" id="id_due_time" placeholder="hr:min" type="text" name="due_time"
                                           required></td>
  					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_description">Description:</label></b></h4></td>
    					        <td><input id="id_description" type="text" name="description" required></td>
  					        </tr>
				        </table>
			        </div>

                    <br>

                    <div class="row">
                        <div class="col-lg-9">
					        <!--just an empty column-->
				        </div>
                        <div class="col-lg-3">
                            {% csrf_token %}

                            <!--Trigger/Open the Modal-->
                            <input id="modalBtn" type="submit" class="btn btn-primary" value="Submit">
                            <!--the modal-->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>Are you sure you want to submit?</p>
                                </div>
				            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

    <br>

{% endblock %}

