{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="main">
        <h1><center>Universal Assignment Calendar</center></h1>
        <h2><center>New Assignment</center></h2>
        <form method="POST">

            <section>
                <div class="container">
                    <div class="row">
				        <table>
  					        <tr>
						        <td><h4><b><label for="id_course">Course:</label></b></h4></td>
    					        <td><select name="course" selected>---------</option>
                                    {% for course in courses %}
                                        <option value="{{ course.class_id }}">{{ course.class_abbrev }}
                                            {{ course.class_num }} - {{ course.class_title }}</option>
                                    {% endfor %}
                                </select></td>
					        </tr>

  					        <tr>
						        <td>
                                    <h4><b><label for="id_events_name">Events name:</label></b></h4>
                                </td>
    					        <td>
                                    <p>(e.g. Programming Homework: RSA)</p>
                                    <input id="id_events_name" type="text" name="events_name" required>
                                </td>
  					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_due_date">Due date:</label></b> (e.g. 12/10/2018)</h4></td>
    					        <td><input id="id_due_date" placeholder="mm/dd/yyyy" type="text" name="due_date"
                                           required></td>
  					        </tr>

  					        <tr>
						        <td width="50%"><h4><b><label for="id_due_time">Due time:</label></b> (e.g. 11:59 PM)</h4></td>
    					        <td><input type="time" id="id_due_time" placeholder="hr:min" type="text" name="due_time"
                                           required></td>
  					        </tr>

  					        <tr>
						        <td><h4><b><label for="id_description">Description:</label></b> (e.g. This assignment will focus on the implementation of the RSA algorithm. Specifically, you will have to implement key generation, encryption and decryption, singing and signature checking, and cracking of RSA messages.)</h4></td>
    					         <td><input id="id_description" type="text" style='width:90%; height:90px' name="description" required></td>
  					        </tr>
				        </table>
			        </div>

                    <br>

                    <div class="row">
                        <div class="col-lg-8">
					        <!--just an empty column-->
				        </div>
                        <div class="col-lg-2">
                            {% csrf_token %}
                            <!--<input type="submit" class="btn btn-primary" value="Submit">-->

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create</button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Honor Code and Confirmation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p><b><i>I pledge on my honor as a student at the University of Virginia that this assignment is valid
                                                and legitimate; I understand it will be posted on the course's To-Do List for my peers to use.</i></b></p>
                                        </div>
                                        <div class="modal-footer">
                                            <!--<button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>-->
                                            <input type="submit" class="btn btn-default" value="Submit">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" class="btn btn-primary" onclick="goBack()" value="Back">
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>

    <br>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}

