<!--attempting to get information about each event to appear on the details page-->

<!DOCTYPE html>
<html lang="en">
<head>
	{% block title %}<title>Detail</title>{% endblock %}
	<!--<title>{{ events.events_name }}</title>-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1><center>{{ events.class_abbrev }} {{ events.class_num }} : {{ events.events_name }}</center></h1>.
	<ul>
		<p><strong>Course:</strong> {{ events.class_abbrev }}  {{ events.class_num }}</p>
	    <p><strong>Due Date and Time:</strong> {{ events.due_date }}</p>
	    <p><strong>Published Date:</strong> {{ events.pub_date }}</p>
	    <p><strong>Description:</strong> {{ events.description }}</p>

	</ul>
</body>
</html>