<!--attempting to get information about each event to appear on the details page-->
{% extends 'base.html' %}

{% block content %}

<div class="main">

	<h1><center>{{ courses.class_abbrev }} {{ courses.class_num }} : {{ events.events_name }}</center></h1>.

	<ul>
		<p><strong>Course:</strong> {{ events.class_abbrev }}  {{ events.class_num }}</p>
	    <p><strong>Due Date and Time:</strong> {{ events.due_date }}</p>
	    <p><strong>Published Date:</strong> {{ events.pub_date }}</p>
	    <p><strong>Description:</strong> {{ events.description }}</p>
	</ul>

</div>

{% endblock %}