<!--attempting to get information about each event to appear on the details page-->
{% extends 'base.html' %}

{% block content %}

<div class="main">

	<h1><center>{{ events.course.class_abbrev }} {{ events.course.class_num }} : {{ events.events_name }}</center></h1>
	<h2><center>Assignment Details</center></h2>

	<br>

	<section>
		<div class="container">
			<div class="row">
				<table>
					<tr>
						<td><h4><b>Course</b></h4></td>
    					<td>{{ events.course.class_abbrev }}  {{ events.course.class_num }} - {{ events.course.class_title }}</td>
					</tr>
  					<tr>
						<td><h4><b>Due Date and Time</b></h4></td>
    					<td>{{ events.due_date }} by {{ events.due_time }}</td>
					</tr>
  					<tr>
						<td><h4><b>Published Date</b></h4></td>
    					<td>{{ events.pub_date }}</td>
  					</tr>
  					<tr>
						<td><h4><b>Description</b></h4></td>
    					<td>{{ events.description }}</td>
  					</tr>
				</table>
			</div>

			<br>

			<div class="row">
				<div class="col-lg-9">
					<!--just an empty column-->
				</div>
				<div class="col-lg-3">
					<form action="/schedule/">
						<input type="submit" class="btn btn-primary" value="Back" />
					</form>
				</div>
			</div>
		</div>
	</section>

</div>

{% endblock %}