{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->
<section>
    <div class="container">
        <h1 class="mt-5">Goals</h1>
        <p>What are our goals?</p>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #1:</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente-->
                <!--repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt-->
                <!--porro quisquam voluptatem.</p>-->
        </div>
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #2:</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente-->
                <!--repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt-->
                <!--porro quisquam voluptatem.</p>-->
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #3:</h3>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente-->
                <!--repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt-->
                <!--porro quisquam voluptatem.</p>-->
        </div>
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
    </div>
    </div>
</section>


{% endblock %}