{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->
<section>
    <div class="container">
        <h1 class="mt-5">Goals</h1>
        <p>The Monkey's With Typewriters team goal was to find the solution to making student life easier and more
        organized by doing exactly that for them. Given the opportunity to take on, develop, and design this project,
            we solved the problem of the large number of clicks to find the due date of an assignment on UVA's Collab
            website. The assignment to a respective class will be found under the tab for that class, causing the large
        amount of clicks to find the due dates for all assignments.</p>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #1: View All Assignments on One Page</h3>
            <p>Once users enroll in all their appropriate classes for the semester, they will be able to view all the
            assignments from their enrolled classes in one page under their "To Do" list at the bottom of the page.
            The complete list of their assignments was programmed to be sorted chronologically by due date to help
            users prioritize which assignments to get done first and which ones are upcoming.</p>
        </div>
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #2: To Do List</h3>
            <p>Alongside view all their assignments, when the user click on the assignment, the assignment will be
                checked off and crossed off with a strike-through line, indicating that the user completed the
                assignment. Furthermore, the user can click on the "x" mark on the right side of the line to
            permanently delete the assignment from the assignment list.</p>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
    <div class="row">
        <!--Text-->
        <div class="col-lg-6">
            <h3 class="mt-5">Feature #3: Post New Assignments</h3>
            <p>Lastly, the user can not only just view assignments, they can also post new assignments to the classes
            that they are enrolled in. There is a form that will allow them to pick the class they are posting for,
            and input the name, due date, due time, and the description of the assignment. These details will be
                displayed when the user clicks on the link of the assignment post.</p>
        </div>
        <div class="col-lg-6">
              <center><img src="/static/uni_assignment_calendar/images/157858-200.png" style="width:128px;height:128px;"></center>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6"></div>
        </div>
    </div>
</section>


{% endblock %}