<!DOCTYPE html>
<html>
<head>
<title>CS 3240: Advanced Software Development</title>
</head>
<body>

<!-- Header -->
<h1><center>Universal Assignment Calendar</center></h1>

<h3>Create a New Post</h3>
<form method="post">
    {% csrf_token %}
    {{ form.post }}
    <br>
    <button type="submit">Submit</button>
</form>

<!-- Inserting published posts onto the /calendar/ url path page -->
<h3>Recent Postings</h3>
{% if latest_event_list %}
    <ul>
    {% for event in latest_event_list %}
    <li><a href="{% url 'calendar:detail' event.id %}">{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events have been posted.</p>
{% endif %}

</body>
</html>