{% extends 'base.html' %}

{% block content %}

<div class="container">
		<h1><center>Universal Assignment Calendar</center></h1>	
	<div class="main">
		<br>
		{% if messages %}
		<ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
		</ul>
		{% endif %}
		<br>		
		<form method="get" action="/calendar/create">
			<input type="submit" class="btn btn-primary" value="Post an Assignment">
		</form>
	</div>

	<br>

	<div class="main">
		<h3>Recent Postings</h3>
		{% if latest_events_list %}
		<ul>
			{% for events in latest_events_list %}
			<li><a href="{% url 'calendar:detail' events.id %}">{{ events.due_date }} {{ events.due_time }} -- {{ events.class_abbrev }} {{ events.class_num }} : {{ events.events_name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No events have been posted.</p>
		{% endif %}
	</div>
</div>

{% endblock %}
