{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->

<br><br>

<section>
    <div class="container">
        <div class="row">
            <!--Text-->
          <div class="col-lg-6">
            <h1 class="mt-5">Monkeys With Typewriters: Universal Assignment Calendar</h1>
              <center><img src="/static/uni_assignment_calendar/images/gorilla-logo-png-3.png" style="width:128px;height:128px;"></center>
          </div>

            <!--login form-->
            <div class="col-lg-6">
                <div class="form">
                    <form class="login" action="" method="post">
                        {% csrf_token %}
                        <h2 class="text-center">Member Login</h2>

                        <div class="form-group">
        	                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>

		                <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>

                        <div class="form-group">
                            <form method="get" action="/home">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                            </form>
                        </div>
                    </form>
                </div>

                <p class="text-center small"><font size="+0.5">Don't have an account? <a href="/signup/">Sign up here!</a></font></p>

                <!--{% if messages %}-->
                    <!--<ul class="messages">-->
                        <!--{% for message in messages %}-->
                            <!--<p><font color="red">{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</font></p>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                <!--{% endif %}<br>-->
            <!--</div>-->

                <!--<p><center>{{ login_status }}</center></p>-->

                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                </div>
        </div>
    </div>
</section>


{% endblock %}