{% extends 'base_login.html' %}

{% block content %}

<!-- Page Content -->
<section>
    <div class="container">
        <div class="row">
            <!--Text-->
          <div class="col-lg-6">
            <h1 class="mt-5">Monkey's With Typewriters: Universal Assignment Calendar</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente
                repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt
                porro quisquam voluptatem.</p>
          </div>

            <!--login form-->
            <div class="col-lg-6">
                <div class="form">
                    <form class="login" action="" method="post">
                        {% csrf_token %}
                        <h2 class="text-center">Member Login</h2>

                        <div class="form-group">
        	                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                        </div>

		                <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                        </div>

                        <div class="form-group">
                            <form method="get" action="/home">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                            </form>
                        </div>
                    </form>
                </div>
                <p class="text-center small">Don't have an account? <a href="/signup/">Sign up here!</a></p>
            </div>
        </div>
    </div>
</section>


{% endblock %}