{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'uni_assignment_calendar/todoList.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
	
	<h1><center>Universal Assignment Scheduler</center></h1>

	<div class="container">
		<h2><center>Enroll in Courses</center></h2>
		<p><center>Use the three search bars below to search for courses you are currently enrolled in for the semester.</center></p>
		<p><center>The numbers next to the course names are the <b>section numbers</b> for certain classes and sections.</center></p>
		<p><center>Click on the <b>course</b> link to learn more about the course and to <b>enroll</b> or <b>remove</b> a course.</center></p>

		<br>

		<form type="get" action="{% url 'ScheduleResults' %}">
			<input type="search" class="searchCourse" placeholder="Search Course ID (10822, etc.)" name="search_id"
				   value='{{ query }}' oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
			<input type="search" class="searchCourse" placeholder="Search Course Dept. (MATH, PHYS, etc.)" name="search_abb"
				   value='{{ query }}' oninput="this.value = this.value.replace(/[^A-Z]||[^a-z]/g, '')" />
			<input type="search" class="searchCourse" placeholder="Search Course # (3240, 2150, etc.)" name="search_num"
				   value='{{ query }}' oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>

		<br><br><br>

		{% if result %}		
		<ul>
			{% for element in result%}
			<li><a href="/course/{{ element.class_id }}/">{{element}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p><br>No Results Found.</p>
		{% endif %}

		<br>

		<div>
			<h2><center>My Schedule</center></h2>
			{% if course_list %}
			<ul>
				{% for item in course_list %}
				<li><a href="/course/{{ item.class_id }}/">{{ item.class_abbrev }} {{ item.class_num }} -- {{ item.class_title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No enrolled courses.</p>
			{% endif %} 
		</div>

		<br>

		<div>
			<h2><center>To-Do List</center></h2>
			<p><center>To see assignment <b>details</b>, click on the assignment link.</center></p>
			<p><center>To <b>check off</b> an assignment, click on the box area of the assignment.</center></p>
			<p><center>To <b>delete</b> an assignment, click on the 'x'.</center></p>

			{% if events_list %}
			<ul>
				{% for events in events_list %}
					<li class = assignment><a href="{% url 'detail' events.id %}">{{ events.due_date }}
						{{ events.due_time }} -- {{ events.course.class_abbrev }} {{ events.course.class_num }} :
						{{ events.events_name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No events have been posted.</p>
			{% endif %}			
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
/*
function myFunction(x) {
	x.classList.toggle("fa-thumbs-down");
	var x = document.getElementById("myDIV");
	if (x.style.display === "none"){
		x.style.display = block
	}else{
		x.style.display = "none"
}
*/
	// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByClassName("assignment");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
	var data = this
    div.style.display = "none";
	console.log(div.getElementsByTagName("a"));
	/*
	$.ajax({
		type: 'POST',
		url: '/hideAssgn/',
		data: {
			div.
		}
		dataType:"json",
	})*/
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.getElementsByClassName("assignment");
for (var i = 0; i < list.length;i++){
	list[i].addEventListener('click', function(ev) {
		if (ev.target.tagName === 'LI') {
			ev.target.classList.toggle('checked');
  }
}, false);
}


// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}

// Convert abbreviation search input to all caps so that typing lowercase will still function properly
  function forceKeyPressUppercase(e)
  {
    var charInput = e.keyCode;
    if((charInput >= 97) && (charInput <= 122)) { // lowercase
      if(!e.ctrlKey && !e.metaKey && !e.altKEY) { // no modifier key
        var newChar = charInput - 32;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
        e.target.setSelectionRange(start+1, start+1);
        e.preventDefault();
      }
    }
  }
  document.getElementsByName("search_abb")[0].addEventListener("keypress", forceKeyPressUppercase, false);









/*
//https://www.tutorialspoint.com/ajax/ajax_database.htm
function ajaxFunction() {
	var ajaxFunction();
	//this variable needs to be here for AJAX to work

	try {
	ajaxRequest = new XMLHttpRequest();
	} catch (e) {

	try {
		ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e) {
		try {
			ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
		} catch (e) {
		alert("Your browser broke!");
		return false;
		}
	}
}

ajaxRequest.onreadystatechange = function() {
	if(ajaxRequest.readtState == 4) {
		var ajaxDisplay = document.getElementById('ajaxDiv');
		ajaxDisplay.innerHTML = ajaxRequest.responseText;
	}
}
*/

/*
//https://www.tutorialspoint.com/ajax/ajax_database.htm
function ajaxFunction() {
	var ajaxFunction();
	//this variable needs to be here for AJAX to work

	try {
	ajaxRequest = new XMLHttpRequest();
	} catch (e) {

	try {
		ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e) {
		try {
			ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
		} catch (e) {
		alert("Your browser broke!");
		return false;
		}
	}
}

ajaxRequest.onreadystatechange = function() {
	if(ajaxRequest.readtState == 4) {
		var ajaxDisplay = document.getElementById('ajaxDiv');
		ajaxDisplay.innerHTML = ajaxRequest.responseText;
	}
}
*/

/*
//https://www.tutorialspoint.com/ajax/ajax_database.htm
function ajaxFunction() {
	var ajaxFunction();
	//this variable needs to be here for AJAX to work

	try {
	ajaxRequest = new XMLHttpRequest();
	} catch (e) {

	try {
		ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
	} catch (e) {
		try {
			ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
		} catch (e) {
		alert("Your browser broke!");
		return false;
		}
	}
}

ajaxRequest.onreadystatechange = function() {
	if(ajaxRequest.readtState == 4) {
		var ajaxDisplay = document.getElementById('ajaxDiv');
		ajaxDisplay.innerHTML = ajaxRequest.responseText;
	}
}
*/
</script>

{% endblock %}


