{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'uni_assignment_calendar/todoList.css' %}">
<div class="main">
	
	<h1><center>Universal Assignment Scheduler</center></h1>


	<div class="container">

		<form type="get" action="{% url 'ScheduleResults' %}">
			<input type="search" placeholder="Search by course ID" name="search_id" value='{{ query }}'>
			<input type="search" placeholder="Search by course Abbreviation" name="search_abb" value='{{ query }}'>
			<input type="search" placeholder="Search by course Number" name="search_num" value='{{ query }}'>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>

		{% if result %}		
		<ul>
			{% for element in result%}
			<li><a href="/course/{{ element.class_id }}/">{{element}}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No Results Found.</p>
		{% endif %}

		<br>

		<div>
			<h2><center>My Schedule</center></h2>
			{% if course_list %}
			<ul>
				{% for item in course_list %}
				<li><a href="/course/{{ item.class_id }}/">{{ item.class_abbrev }} {{ item.class_num }} -- {{ item.class_title }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No enrolled courses.</p>
			{% endif %}
		</div>

		<br>

		<div>
			<h3><center>To-Do</center></h3>
			{% if events_list %}
			<ul>
				{% for events in events_list %}
				<li class = assignment><a href="{% url 'detail' events.id %}">{{ events.due_date }} {{ events.due_time }} -- {{ events.course.class_abbrev }} {{ events.course.class_num }} : {{ events.events_name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
			<p>No events have been posted.</p>
			{% endif %}			
		</div>

	</div>
</div>
<script>
	// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByClassName("assignment");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.getElementsByClassName("assignment");
for (var i = 0; i < list.length;i++){
	list[i].addEventListener('click', function(ev) {
		if (ev.target.tagName === 'LI') {
			ev.target.classList.toggle('checked');
  }
}, false);
}


// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}

// Convert abbreviation search input to all caps so that typing lowercase will still function properly
  function forceKeyPressUppercase(e)
  {
    var charInput = e.keyCode;
    if((charInput >= 97) && (charInput <= 122)) { // lowercase
      if(!e.ctrlKey && !e.metaKey && !e.altKEY) { // no modifier key
        var newChar = charInput - 32;
        var start = e.target.selectionStart;
        var end = e.target.selectionEnd;
        e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value.substring(end);
        e.target.setSelectionRange(start+1, start+1);
        e.preventDefault();
      }
    }
  }
  document.getElementById("field1").addEventListener("search_abb", forceKeyPressUppercase, false);
</script>

{% endblock %}