{% extends 'base_login.html' %}

{% block content %}

<div class="login-form">
    <div class="form">
        <div>
            {% if registered %}
			    <h3>Thank you for registering!</h3>
                <meta http-equiv="refresh" content="3;url=~/home" />
                <h3>Redirecting in 3 seconds...</h3>
            {% else %}
                <form class="signup-form" action="" method="post">
                {% csrf_token %}
                <h2 class="text-center">Sign Up</h2>

                <div class="form-group">
        	        <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                </div>

		        <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>

                    <div class="form-group">
                    <form method="get" action="~/home">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                    </form>
                    </div>
			    </form>
                <p class="text-center small">Have an account already? <a href="~/">Login here!</a></p>
		    {% endif %}
        </div>

    </div>

</div>

{% endblock %}